[Unit]
Description=The Loranet Gateway used by COHORTE IoT pack

[Service]
WorkingDirectory=/opt/loranet-gateway/bin/
ExecStart=/opt/loranet-gateway/bin/start.sh
SyslogIdentifier=loranet-gateway
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target